chromadb==1.4.0
fastapi==0.128.0
fastembed==0.7.4
fitz==0.0.1.dev2
langchain_classic==1.0.1
langchain_community==0.4.1
langchain_core==1.2.5
langchain_ollama==1.0.1
langchain_text_splitters==1.1.0
nltk==3.9.2
pydantic==2.12.5
pymupdf==1.26.7
pymupdf4llm==0.2.7
spacy==3.8.7
SQLAlchemy==2.0.45
